{% extends "base.html" %}

{% block title %}
	User profile
{% endblock %}

{% block content %}
  <h1>Welcome, {{ user.full_name }}</h1>

  <p><strong>Nick:</strong> {{ user.nick_name }}</p>
  <p><strong>Full name:</strong> {{ user.full_name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <br>
  <div>
    <p>
      Do you want to receive notifications when you are offline?
    </p>
    <p>Start a chat with our <a href="https://t.me/inst_messages_bot?start=COMMAND">bot</a></p>
  </div>

  <br>
  <div>
    <a href="{{ url_for('home') }}">Back to homepage</a>
  </div>

{% endblock %}