<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    	
    {% endblock %}
  </title>
  {% block style %}
  	<link href="/static/css/base.css" rel="stylesheet">
  {% endblock %}

</head>
<body>
  <div class="topnav">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    {% if user %}
    	<a href="/profile">Your profile</a>
      <a href="/chat">Chat</a>
      <a href="/logout">Log out</a>
    {% else %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {% endif %}
  </div>
  {% block content %}
  	
  {% endblock %}
</body>
</html>