<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    	
    {% endblock %}
  </title>
  <link href="/static/css/base.css" rel="stylesheet">

</head>
<body>
  <div class="topnav" id="auth-user" style="display: none;">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="/profile">Your profile</a>
    <a href="/chat">Chats</a>
    <a href="/logout">Log out</a>
  </div>

  <div class="topnav" id="guest-user" style="display: none;">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
  {% block content %}
  	
  {% endblock %}
  <div id="toast" class="toast"></div>

  {% block script %}
  	<script>
      async function checkAuthStatus() {
        try {
          const response = await fetch("/users/me");

          if (response.ok) {
            const user = await response.json();
            document.getElementById("auth-user").style.display = "block";
            console.log("Logged in user:", user);
          } else if (response.status === 401) {
            document.getElementById("guest-user").style.display = "block";
          }
        } catch (error) {
          console.error("Authorization check failed:", error);
        }
      }

      checkAuthStatus();
  </script>

  {% endblock %}




</body>
</html>