{% extends "base.html" %}

{% block title %}
	Chat
{% endblock %}

{% block content %}
	<h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var nick_name = {{ user.nick_name }}
        document.querySelector("#ws-id").textContent = nick_name;
        var ws = new WebSocket(`ws://localhost:80/chat/ws/${nick_name}`);
        ws.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
        };
        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
{% endblock %}


