{% extends "base.html" %}

{% block title %}
	Homepage
{% endblock %}

{% block content %}
  {% if user %}
      <div class="welcome-message">
        <h1>Welcome back, {{ user.full_name }}!</h1>
        <p>We're glad to see you again on InstantMessages.</p>
        <p>Chat with your friends, send messages, and receive notifications through our Telegram bot.</p>
      </div>

  {% else %}
    <div class="welcome-message">
      <h1>Welcome to InstantMessages!</h1>
      <p>This is your platform for instant communication with friends and colleagues.</p>
      <p>Please register to start exchanging messages and stay connected!</p>
    </div>
  {% endif %}


{% endblock %}
